a:hover {
    text-decoration: none;
}

.nav-row {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.permalink {
    transition-duration: 0.5s;
    border-radius: 30px;
    box-shadow: 0px 0px 38px -5px #5858585e;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #007bff;
    border: none;
    color: #fff;
}

.permalink:hover {
    transition-duration: 0.5s;
    background: #cfcfcf;
    color: #fff;
    cursor: pointer;
}



.right-side-nav {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    align-items: center;
    align-content: center;
}

.right-side-nav .trailer {
    font-size: 18px;
    padding: 5px 10px;
    margin-right: 20px;
    border: 2px solid white;

}

.navbar-toggler-icon {
    margin-left: 30px;
}

.navbar-dark .navbar-toggler {
    border: none;
    outline: none;
}

.our-films {
    margin-top: 100px;
    margin-bottom: 100px;
}



.our-films .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
 
}

.kino-posts .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.history .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}


.form-container {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.pos-f-t {
    position: absolute;
    z-index: 99;
    width: 100%;
}

.form-container  figure {
    max-width: 550px;
    max-height: 450px;
    margin: 0;
}

.about .container-fluid {
    padding-right: 10%;
    padding-left: 10%;
}


img {
    width: 100%;
    height: 100%;
}

.nav {
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    text-align: left;
    
}

.nav li a {

    font-family: 'Helvetica';
    letter-spacing: 1px;
    color: #fff;
    font-size: 25px;
}


.trailer-col {
    text-align: center;
}

.trailer-col iframe {
    max-width: 100%;
    margin-top: 30px;
}



.slide-films {
    margin-top: 0;
}

.carousel {
    filter: brightness(0.9);
}

.carousel-caption {
    bottom: 15%;
    left: 5%;
    right: auto;
    text-align: left;
}

.title {
    align-items: center;
    padding-left: 50px;
}


.slider {
    padding: 0;
    justify-content: center
}

.film-title {
        font-size: 48px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Helvetica';
        margin-bottom: 0;
      
}

.film-date {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 25px;
}


.sub-title-small {
    margin-bottom: 25px;
    font-size: 20px;
    margin-top: -5px;
}

.text-center {
    font-size: 20px;
}


.trailer {
    transition-duration: 0.5s;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border: 3px solid white;
    border-radius: 50px;
}

.trailer:hover {
    text-decoration-line: none;
    transition-duration: 0.5s;
    background: #fff;
    color: #000;
}

.blog-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.blog-row .our-films {
    margin-top: 25px;
    margin-bottom: 25px;
}

.kino-posts {
    margin-top: 50px;
    margin-bottom: 50px;
}

.date {
    font-size: 22px;
    font-weight: bold;
}

.kino-posts .post-thumb {
    height: 230px;
}

.kino-posts .post-thumb img {
    height: 100%;
}

.sect-title {
  margin-bottom: 20px;
}

.sect-title h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #929292;
}

.sect-title h2:after {
    content: '_';
    height: 5px;
    max-width: 350px;
    background: #007bff;
    display: block;
    color: #fff;
    margin-top: 10px;
    border-radius: 30px;
}

.inner-header .nav-row {
    position: static;

}


.inner-header .nav li a {
    color: #000;
}

main {
 min-height: 100vh;
}

.blog > .container-fluid {
 padding-left: 10%;
 padding-right: 10%;
}



.single-post {
    margin-bottom: 30px;
}




.blog-row h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
}

.inner-header .logo {
    max-width: 230px;
}


.post-text {
    padding: 15px;
}



footer {
    background-color: #000;
}

footer p {
    color: #fff;
}

footer .container-fluid {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

footer a {
    display: block;
    color: #fff;
}

.contacts {
    text-align: right
}

footer .label {
    display: flex;
    align-items: center
}


.carousel-control-prev {
    width: 80px;
}

.carousel-control-next {
    width: 80px;
}


.modal {
    padding-left: 17px;
}

.yt-player .modal-content {
   height: 600px;
   width: 900px;
   outline: none;
    border: none;
    background: #0000;
}

.yt-player .modal-body {
    width: 100%;
    padding: 0;
    height: 500px;
}

.yt-player .modal-header button {
    color: #fff;
    opacity: 1;

}

.post-thumb {
    margin: 25px;
}

.post-thumb img{
    border-radius: 30px;
    box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.18);
}

.our-films-inner {
    display: flex;
}

.our-films-inner .post-thumb img {
    height: 480px;
    margin-top: 25px;
}

.our-films .post-thumb img {
height: 440px;

}



section {
    margin-top: 50px;
    margin-bottom: 50px;
}


.BU .sub-title {
    color: #000;
}

.modal-dialog .modal-dialog-centered {
    display: flex;
    justify-content: center;
}


.bg-dark {
    background-color: #0000 !important;
    text-align: center;
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%

}


.sub-menu li a {
    font-size: 20px;
}

.modal-form .modal-dialog {
    max-width: 450px;

}


.nav li {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.wpcf7-submit {
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    cursor: pointer;
}

.label-for-file {
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    width: 230px;
    cursor: pointer;
    text-align: center;

}

.file-input {
    display: none;
}

.wpcf7-text {
    border: none;
    border-bottom: 1px solid;
    width: 250px;
}

.wpcf7-text :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.modal-header {
    border-bottom: none;
    padding: 10px;
}

.modal-content {
    border-radius: 0;
}

.modal-content {
    padding: 10px;
}

.history img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.dress .main-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
}

.form-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dressFigure {
    height: 100%;
}

.dress-img-container {
    padding: 20px;
}

.dress .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.text-content {
    display: none;
}

.desctop-modal-picture {
    position: relative;
}


.link-commertial-modal {
    position: absolute;
    left: 23%;
    bottom: 10%;
    
}


.main-404 {
    min-height: 50vh;
}

.sect-404 {
    height: 80vh;
}

.sect-404 > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.title-404 {
    font-size: 27px;
}

.number-404 {
    font-size: 9rem;
    font-weight: bold;
}





@media (min-width: 576px) {
    .yt-player .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;

}
}



@media (min-width: 1009px)  {
    .film-post .carousel-inner {
        height: 600px;
        width: 992px;
    }

    .film-post .carousel-item {
        height: 100%;
    }

    .carousel-inner img {
        height: 100%;

    }

}

@media (min-width: 767px) and (max-width: 1009px) {
    .film-post .carousel-inner {
        height: 450px;
        width: 100%;
    }

    .film-post .carousel-item {
        height: 100%;
    }

}


@media (min-width: 0px) and (max-width: 440px) {

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 40px;
        height: 40px;
    
    }



    .wpcf7-text {
        width: 200px;
    }

    .wpcf7-textarea {
        width: 100%;
    }

    .navbar-toggler-icon {
        margin-left: 0;
    }

    .modal {
        padding-left: 5px;
        padding-right: 5px !important;
    }
    



}


@media (min-width: 1300px) and (max-width: 1500px) {
    .our-films .post-thumb img  {
       height: 320px;
    }
}

    

@media (min-width: 992px) and (max-width: 1300px) {
    .our-films .post-thumb img  {
       height: 280px;
    }
    
    }

    @media (min-width: 1400px) and (max-width: 1600px) {
        .kino-posts .post-thumb {
            height: 200px;
        }        
    }

    @media (min-width: 992px) and (max-width: 1400px) {
        .kino-posts .post-thumb {
            height: 150px;
        }        
    }





    @media (min-width: 0px) and (max-width: 1120px) {
        .our-films .post-thumb img  {
           height: 250px;
        }


        .post-thumb {
            margin: 10px;
        }

        
        
        
        }

        @media (min-width: 0px) and (max-width: 670px) {
            .carousel-caption {
                bottom: 3%;
            }

            .film-title {
                font-size: 35px;
            }
        }

        @media (min-width: 0px) and (max-width: 500px) {
            .pos-f-t {
                position: inherit;
            }   

            .bg-dark {
                background-color: #000 !important;
            }
        }


        @media (min-width: 0px) and (max-width: 992px) {
            .our-films .post-thumb img  {
                height: auto;
             }

             .kino-posts .post-thumb img  {
                height: 100%;
             }

             .kino-posts .post-thumb  {
                height: auto;
             }


             .history h2 {
                 margin-top: 20px;
             }

             .contacts {
                 text-align: left;
             }


        }

        

        @media (min-width: 995px) and (max-width: 1250px) {


            .history img {
                max-height: 600px;
            }

            
            
            }

            @media (min-width: 0px) and (max-width: 750px) {

                .right-side-nav {
                    margin: 0;
                }
    
                .right-side-nav li {
                    display: none;
                }

                .text-content {
                    display: block;
                    
                }

                .commertial .modal-body {
                    background: #fff;
                }

                .desctop-modal-picture,  .link-commertial-modal{
                    display: none;
                }

                .body-content {
                    padding: 5%;
                    background: #fff;
                }
                
    


            }


        @media (min-width: 0px) and (max-width: 600px) {

            .slide-films .carousel-caption {
                position: static;
                right: 0;
                bottom: 0;
                left: 0;
                color: #000;
                padding: 35px 25px 35px 25px;
            }

          .slide-films .carousel-inner{
                height: 550px;
            }

            .right-side-nav {
                display: block;
                width: auto;
            }


            .slide-films .carousel-control-next-icon {
                background-image: url(img/right-chevron.png) !important;
            }

            .slide-films .carousel-control-prev-icon {
                background-image: url(img/left-chevron.png) !important;
            }

            .slide-films .carousel-control-next,
            .carousel-control-prev {
                opacity: 1;
            }

            .slide-films  .carousel-control-next-icon,
            .slide-films .carousel-control-prev-icon {
                width: 40px;
                height: 40px;

            }

            .slide-films  .carousel-control-next, .slide-films  .carousel-control-prev {
                bottom: 28%;
            }

            footer h2 {
                font-size: 25px;
            }

       
            
            

            .film-title {
                font-size: 35px;
            }

            .film-date {
                font-size: 20px;
            }

           
          
            .film-title, .trailer  {
                color: #000;
            }

            .trailer {
                transition-duration: 0.5s;
                padding: 7px;
                border: 3px solid rgb(0, 0, 0);
                font-size: 15px;
            }

            .trailer:hover {
                transition-duration: 0.5s;
                background: #000;
                color: #fff;
            }

            .slide-films .carousel-inner {
                -webkit-box-shadow: 0px 0px 52px 1px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 0px 52px 1px rgba(0,0,0,0.09);
box-shadow: 0px 0px 52px 1px rgba(0,0,0,0.09);
            }

            .sect-title h2 {
                font-size: 35px;
            }

        }

   
            
        

        


 




    


@font-face {
    font-family: 'fontf81dc6462c0ac26fdca85351e33cc687';
        
        src:    url('https://nomail.com.ua/files/eot/f81dc6462c0ac26fdca85351e33cc687.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/f81dc6462c0ac26fdca85351e33cc687.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/f81dc6462c0ac26fdca85351e33cc687.woff2') format('woff2');
    }
    
    @font-face { font-family: 'MullerBlack';  src: local('MullerBlack'), url('https://nomail.com.ua/files/woff/f81dc6462c0ac26fdca85351e33cc687.woff') format('woff'); }

    @font-face {
        font-family: 'Helvetica'; /* Имя шрифта */
        src: url(../sfs/fonts/helvetica1.otf); /* Путь к файлу со шрифтом */
       }